/*  Design by Jonathan Gabel
    Text and Content by Matthew Piper
    Square Grid by  Craig Rozynski craigrozynski.com, dinosaurswithlaserz.com
                    Marco Lago marcolago.com
*/

/* CSS Reset (customised) */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, small, strong {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ul, li {
  list-style-type: none;
}

body { display: block; }
html { overflow-y: scroll; }
h1, h2, h3, h4, h5, h6, strong { font-weight: bold; }

sup {

}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #505050;
}

/* Primary Styles */


body {
  font: 1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  color: #515047;
  background-color: #FFF;
  width: 100%;
}
a, a:link, a:visited, a:active {
}

h1, h2, h3 {
  color: #262626;
  line-height: 0.8;
  letter-spacing: -0.05em;
  margin: 10px 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 1.6em;
}
a h2 {
  font-size: 3em;
  margin: 10px;
  line-height: 40px;
}
p {
  font-size: 1.25em;
  line-height: 1.15;
  margin: 0.75em 0;
  color: #706E62;
}
small {
  font-size: 1em;
  color: #8F8E8E;
}
img {
  max-width: 100%;
  display: block;
  margin: 40px auto 0 auto;
}

.image-caption {
  display: block;
  text-align: center;
}


nav a {
  display: block;
  width: 80px;
  background-repeat: no-repeat;
  padding: 3px;
}
a.eight-mile {
  background-image: url("../img/eight_mile_link.png");
  height: 27px;
}
a.eight-mile:hover {
  background-image: url("../img/eight_mile_link_hover.png");
}

a.grid {
 background-image: url("../img/grid_link.png");
 height: 53px;
}
a.grid:hover {
 background-image: url("../img/grid_link_hover.png");
}


section.article {
  clear: both;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  width:80%;
  height: 100%;
  max-width: 800px;
}

.next-link {
  clear: both;
  margin: 20px auto;
  padding: 20px;
  width:80%;
  max-width: 800px;
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.next-link a {
  color: white;
}

.next-link a:hover {
  color: black;
}

blockquote {

  background-color: #F8F8F8;
  padding: .5em;
}

@media screen and (min-width:1125px) {
  nav {
    float: left;
  }
  section.article {
    clear: none;
  }
}

